{
  "env": {
    "commonjs": {
      "presets": ["@babel/env"]
    },
    "esm": {
      "presets": [
        ["@babel/env", {
          "modules": false
        }]
      ]
    },
    "umd": {
      "presets": ["@babel/env"],
      "plugins": [
        "add-module-exports"
      ]
    },
    "test": {
      "presets": [
        ["@babel/env", {
          "modules": "commonjs"
        }]
      ]
    }
  }
}
